

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Todo App</h1>
                    <app-todo-form></app-todo-form>

                    <app-tabs (selectedTab)="onChangeTab($event)">
                        <app-tab *ngFor="let tab of tabs" [title]="tab">

                        </app-tab>
                        <!-- <app-tab [title]="'ExampleRef'" id="allTodos" #allTodos>
                        </app-tab> -->
                    </app-tabs>

                    <!-- <div *ngIf="allTodos.active">
                        Ejemplo de referencia
                    </div> -->
                    <!-- <ul class="list-group">
                        <div *ngFor="let item of todoList | filter:filterBy">
                            <app-todo-item [todoItem]="item"
                                            (updateItem)="updateTodoList($event)"
                                            (deleteEvent)="deleteTodo(item.id)">
                            </app-todo-item>
                        </div>
                    </ul> -->
                    <!-- <div *ngIf="(todoListAsync | async) | filter:filterBy as results"> -->
                    <div *ngIf="(todoListAsync | async) as results">
                        <ul class="list-group">
                                <div *ngIf="results.length; else noItems">
                                    <app-todo-item *ngFor="let item of results" [todoItem]="item"
                                    (updateItem)="updateTodoList($event)"
                                    (deleteEvent)="deleteTodo(item.id)">
                                </app-todo-item>
                            </div>
                        </ul>
                        <ng-template #noItems>
                            No items here!
                        </ng-template>
                    </div>


                    <button routerLink="new-todo" class="btn mt-3 btn-secondary">New Todo</button>
                </div>
            </div>
        </div>


    </div>

</div>
