
    <app-navbar></app-navbar>
    <div class = "container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title"> Todo App</h1>
                        <app-todo-form></app-todo-form>
                        <ul class="list-group">
                            <app-todo-list></app-todo-list>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
