

<div class = "container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Signup</h1>
                    <form novalidate [formGroup]='form' (submit)="addUser(form)" class="mb-3">
                        <div class="form-group">
                            <label for="InputName1">Name</label>
                            <input formControlName="name" type="text"
                            [ngClass]="{
                                        'is-invalid': name.invalid && (name.dirty||name.touched),
                                        'is-valid':!name.invalid && (name.dirty||name.touched),
                                        'form-control':true
                                    }"
                                     id="InputName1">
                            <small class="invalid-feedback"
                            [ngStyle]="{
                                            'opacity':(name.invalid && (name.dirty||name.touched))?1:0
                                        }">
                                A name is required
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail1">Email address</label>
                            <input type="email" formControlName="email" [ngClass]="{
                                        'is-invalid': email.invalid && (email.dirty||email.touched),
                                        'is-valid':!email.invalid && (email.dirty||email.touched),
                                        'form-control':true
                                    }" id="InputEmail1" aria-describedby="emailHelp">
                            <span class = "span-box" *ngIf="email.errors?.emailInvalid && (email.dirty || email.touched)">
                                <div class = "box">
                                    Invalid Email
                                </div>
                            </span>
                            <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="InputPassword1">Password</label>
                            <div class="input-group">
                                <input formControlName="password" [type]="(showPass)?'text':'password' "
                                [ngClass]="{
                                                'form-control':true,
                                                'is-invalid':form.errors?.notequal,
                                                'is-valid':!form.errors?.notequal && password.valid
                                            }"
                                 id="InputPassword1">
                                <div class="input-group-append">
                                    <button [ngClass]="{
                                                        'btn':true,
                                                        'btn-sm':true,
                                                        'btn-outline-secondary':!form.errors?.notequal,
                                                        'btn-outline-danger':form.errors?.notequal,
                                                        'btn-outline-success':!form.errors?.notequal && password.valid
                                                    }"
                                     type="button" id="button-pass" (click)="showPass = !showPass">
                                        <i *ngIf="!showPass" width="1em" height="1em" viewBox="0 0 16 16"
                                          fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="fa fa-eye"></i>
                                          <i *ngIf="showPass" width="1em" height="1em" viewBox="0 0 16 16"
                                          fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="fa fa-eye-slash"></i>
                                    </button>
                                  </div>
                            </div>
                            <small class="form-text text-muted" *ngIf="password.errors?.passwordInvalid && (password.dirty || password.touched)">
                                {{passwordError}}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="InputPassword2">Confirm Password</label>
                            <div class="input-group">
                                <input [type]="(showConfirmPass)?'text':'password'" formControlName="confirmPassword"
                                [ngClass]="{
                                                'form-control':true,
                                                'is-invalid':form.errors?.notequal,
                                                'is-valid':!form.errors?.notequal && confirmPassword.valid
                                            }"
                                 id="InputPassword2" aria-discribedby="passMatchHelp">
                                <div class="input-group-append">
                                    <button [ngClass]="{
                                                        'btn':true,
                                                        'btn-sm':true,
                                                        'btn-outline-secondary':!form.errors?.notequal,
                                                        'btn-outline-danger':form.errors?.notequal,
                                                        'btn-outline-success':!form.errors?.notequal && confirmPassword.valid
                                                    }"
                                    type="button" id="button-confirmpass" (click)="showConfirmPass = !showConfirmPass">
                                        <i *ngIf="!showConfirmPass" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="fa fa-eye"></i>
                                        <i *ngIf="showConfirmPass" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="fa fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>
                            <small id="passMatchHelp" *ngIf="form.errors?.notequal">
                                Password dont match
                            </small>
                        </div>
                        <!-- <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="Check1">
                            <label class="form-check-label" for="Check1">Check me out</label>
                        </div> -->
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Signup</button>
                            <button type="button" routerLink="/login" class="btn btn-secondary ml-3">Back to login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
