/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

.span-box{
    position:relative;
    z-index:10;
    top:-2em;
    left:0;
    display:inline;
}

.box{
    width:300px;
    padding:20px;
    color:white;
    font-size: 14px;
    text-align:justify;
    position:relative;
    background:#2c3e50;
    left:106%;
    display:inline;
    border-radius: 10%;
    z-index:10;
}

.box:before{
    content:' ';
    width:20px;
    height:20px;
    background:#2c3e50;
    position:absolute;
    top:50%;
    left:-3%;
    transform: translateY(-50%) rotate(45deg);
    display:inline;
    z-index:10;
}
